.tab {
  border: none;
  border-bottom: 2px solid #dfe2e5;
}

.tab-button {
  background-color: transparent;
  border: none;
  color: #7b8794;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 24px;
    padding: 0px 30px 8px 30px;
  }
}

.active-tab-btn {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
